.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.switchContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.switchButton {
  margin: 10px;
  max-height: 40px;
  border-color: #bebec2;
  border-radius: 10px;
  color: #414047;
}
.mainContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.numberInput {
  width: 90vw;
  max-width: 300px;
  border: 1px solid #bebec2;
  border-radius: 8px;
}

.conditionsText {
  text-align: center;
  font-size: 12px;
}
.line {
  width: 90vw;
  max-width: 300px;
}

.nearText {
  margin: 20px;
  text-align: center;
}
.nearButton {
  display: flex;
  justify-content: center;
}

.linkText {
  color: #587be0;
  cursor: pointer;
}
.icon {
  width: 40px;
  height: 40px;
}

.HeaderText {
  font-size: 25px;
}

.HeaderColorText {
  color: #b072ff;
}
